#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

table {
  background-color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
}

td {
  border-bottom: 1px solid #444;
}

tr:hover {
  background-color: #2a2a2a;
}