/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroLogo {
  max-width: 240px;
  width: 35%;
  height: auto;
  margin: 0 auto 1rem auto;
  display: block;
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
}
